.server-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f0f0f0;
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
    
}

.server-card1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    background-color: #f0f0f0;
    padding: 15px;
    margin-bottom: 20px;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.server-card p {
    flex: 1;
    text-align: center;
    margin: 0;
    color: black;
}
.server-card1 p {
    flex: 1;
    text-align: center;
    margin: 0;
    color: black;
}

.status-indicator {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-left: 10px;
}

.status-indicator.ready {
    background-color: #66bb6a;
}

.status-indicator.not-ready {
    background-color: #ef5350;
}
.font-bold {
    font-weight: bold;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
div[data-testid="stExpander"] div[role="button"] {
    background: #f0f0f0;
    height: 20px;
    width: 100.2%;
    margin-top: -22px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -0.5px;
    padding-top: 5px;
    

}
div[data-testid="stExpander"] div[role="button"] p{
    width: 0;
    height: 0;
    border-left: 10px solid black;
    border-right: 7px solid transparent;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    scale:0.8;
    /* margin-left: 20rem; */
    transition: transform 0.3s ease;
    color:transparent;
    
   
}
div[data-testid="stExpander"] div[role="button"] p:hover 
{
    transform: rotate(90deg); /* Rotating 90 degrees to the right on hover */
    margin-top: 2px;
    fill:transparent;
    color: transparent;
}
.click-through {
    pointer-events: none;
  }
  
.streamlit-expanderContent {
    background-color: #f0f0f0;
    color: black;
    margin-left: -0.5px;
    width: 100.2%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: -5px;

}
.expander-card{
    text-align: center; 
    font-weight:600;
    font-size: 1.1rem; 
    color: black;
    background-color: #cecece; 
    border-radius: 10px;
}

